/*
 *
 *= require jquery-ui
 *= require twitter/bootstrap
 *= require fullcalendar
 *= require fullcalendar/scheduler.min
 *= require icheck/square/blue
 *= require icheck/minimal/blue
 *= require icheck/flat/blue
 *= require ionicons
 *= require pace/orange/pace-theme-minimal
 *= require bootstrap-datepicker3
 *= require addtohomescreen
 *= require bootstrap-wysihtml5

 * Adminlte and corresponding css
 *= require admin-lte
 *= require skin-purple
 *= require skin-blue
 *= require bootstrap-timepicker
 *= require daterangepicker
 *= require bootstrap-slider

 * Bootstrap flavoured select2
 *= require select2-bootstrap.min
 */

/*  
  Ideally bootstrap wysihtml5 should have it but css is missing these, 
  so when content is displayed without editor coloring goes missing 
*/
.wysiwyg-color-black {color: black;}
.wysiwyg-color-silver {color: silver;}
.wysiwyg-color-gray {color: gray;}
.wysiwyg-color-white {color: white;}
.wysiwyg-color-maroon {color: maroon;}
.wysiwyg-color-red {color: red;}
.wysiwyg-color-purple {color: purple;}
.wysiwyg-color-fuchsia {color: fuchsia;}
.wysiwyg-color-green {color: green;}
.wysiwyg-color-lime {color: lime;}
.wysiwyg-color-olive {color: olive;}
.wysiwyg-color-yellow {color: yellow;}
.wysiwyg-color-navy {color: navy;}
.wysiwyg-color-blue {color: blue;}
.wysiwyg-color-teal {color: teal;}
.wysiwyg-color-aqua {color: aqua;}
.wysiwyg-color-orange {color: orange;}

